<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!--TOASTR for messages-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <style>
        p {
        font-size: 20px;
    }

    </style>

    <title>Защиты студентов</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Главная</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPerform" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="true">Сведения о защите</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/performs">Список существующих</a>
                    <a class="dropdown-item" href="/performs/newPerform">Добавить данные о новом студенте</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPredefense" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="true">Предзащиты</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/predefenses">Список предзащит</a>
                    <a class="dropdown-item" href="/predefenses/newPredefense">Добавить новый протокол</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDefense" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="true">Защиты</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/defenses">Список защит</a>
                    <a class="dropdown-item" href="/defenses/newDefense">Добавить новый протокол</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/print-forms">Загрузить печатные формы</a>
            </li>
        </ul>

        <div class="navbar-collapse collapse w-50 rder-3 dual-collapse2">
            <ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">
                <li class="nav-link"><a class="nav-link" href="/profile">Профиль</a></li>
            </ul>
            <ul class="navbar-nav ml-auto" sec:authorize="!isAuthenticated()">
                <li class="nav-link"><a class="nav-link" href="/login">Войти</a></li>
            </ul>
        </div>
    </div>
</nav>


<br/>
<div class="container-fluid text-center">
    <div class="card text-center">
        <div class="card-header">
            Защита
        </div>
        <div class="card-body">
            <div class="container-xxl mt-3 mb-5">
                <h2>Информация о защите</h2>

                <div th:value="defense">
                    <p th:text="'Номер протокола защиты: ' + ${defense.id}"/>
                    <h3 th:text="'Номер дела: ' + ${defense.perform.id}"/>
                    <p th:text="'Вид защиты: ' + ${defense.type}"/>
                    <p th:text="'Студент: ' + ${defense.perform.fullFio}"/>
                    <p th:text="'Дата: ' + ${defense.date}"/>
                    <p th:text="'Время начала: ' + ${defense.beginTime}"/>
                    <p th:text="'Время начала: ' + ${defense.endTime}"/>
                    <p th:text="'Степень освоения: ' + ${defense.evaluation}"/>
                    <p th:text="'Оценка: ' + ${defense.mark}"/>
                    <p th:text="'Председатель ГЭК: ' + ${defense.chairmanFio}"/>
                    <p th:text="'Секретарь ГЭК: ' + ${defense.secretaryFio}"/>
                    <p th:text="'Рецензент ВКР: ' + ${defense.reviewerFio}"/>
                    <p th:text="'Оценка рецензента ВКР: ' + ${defense.reviewerMark}"/>
                    <p th:text="'Направление: ' + ${defense.directionNumber}"/>
                    <p th:text="'Длительность защиты: ' + ${defense.duration}"/>
                    <p th:text="'Количество страниц: ' + ${defense.pages}"/>
                    <p th:text="'Количество слайдов: ' + ${defense.slides}"/>
                    <p th:text="'Оригинальность в %: ' + ${defense.originality}"/>
                    <p th:text="'Оценка руководителя ВКР: ' + ${defense.supervisorMark}"/>
                    <p th:text="'Другие документы: ' + ${defense.otherDocuments}"/>

                    <a th:href="@{/defenses/{id}/edit(id=${defense.id})}" class="btn btn-primary">Редактировать
                        информацию о защите</a>
                    </br>
                    </br>

                    <form th:action="@{/defenses/{id}/generate(id=${defense.id})}" method="POST">
                        <button type="submit" class="btn btn-primary">Сгенерировать документ</button>
                    </form>
                    </br>
                    </br>

                    <form action="/report" method="GET">
                        <input type="hidden" th:value="${defense.perform.id}" name="dealId">
                        <input type="hidden" value="2" name="typeId">
                        <button type="submit" class="btn btn-info" id="downloadButton" disabled>Скачать документ</button>
                    </form>
                </div>


            </div>
        </div>
    </div>
</div>

<script th:if="${action == 'saved'}">
   $(document).ready(function() {
       toastr.success('Заполненный документ успешно создан!', 'Успех');
       document.getElementById("downloadButton").disabled = false;
   });
</script>

<script th:inline="javascript">
    toastr.options.closeButton = true;
    toastr.options.positionClass = 'toast-bottom-right';
</script>


</body>
</html>