<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <title> Главная</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Главная</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPerform" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="true">Сведения о защите</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/performs">Список существующих</a>
                    <a class="dropdown-item" href="/performs/newPerform" sec:authorize="hasRole('ADMIN')">Добавить данные о новом студенте</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPredefense" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="true">Предзащиты</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/predefenses">Список предзащит</a>
                    <a class="dropdown-item" href="/predefenses/newPredefense" sec:authorize="hasRole('ADMIN')">Добавить новый протокол</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDefense" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="true">Защиты</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/defenses">Список защит</a>
                    <a class="dropdown-item" href="/defenses/newDefense" sec:authorize="hasRole('ADMIN')">Добавить новый протокол</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/print-forms">Загрузить печатные формы</a>
            </li>
        </ul>

        <div class="navbar-collapse collapse w-50 rder-3 dual-collapse2">
            <ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">
                <li class="nav-link"><a class="nav-link" href="/profile">Профиль</a></li>
            </ul>
            <ul class="navbar-nav ml-auto" sec:authorize="!isAuthenticated()">
                <li class="nav-link"><a class="nav-link" href="/login">Войти</a></li>
            </ul>
        </div>
    </div>
</nav>


<br/>
<div class="container-fluid text-center">
    <div class="card text-center">
        <div class="card-header">
            Инструкция по использованию
        </div>
        <div class="card-body">
            <h1 class="card-title">Добро пожаловать!</h1>
            <p class="card-text">Это веб-приложение было написано Назыровым Э. в качестве <b>дипломной работы</b> для
                автоматического заполнения документов <br/>
                по государственной итоговой аттестации студентов.</p>
            </br>
            <p><img
                    class="img-fluid"
                    src="https://imageup.ru/img227/4814891/usage.png"
                    alt="How to use website"/></p>

            <a href="/print-forms" class="btn btn-primary">Вперед!</a>
        </div>
    </div>
</div>


</body>
</html>