<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Создание нового протокола предзащиты</title>
</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/home">Главная</a></li>
                <li><a href="/performs">Сведения о защите</a></li>
                <li><a href="/performs/newPerform">Добавить сведения о защите</a></li>
                <li><a href="/predefenses">Предзащиты</a></li>
                <li class="active"><a href="/predefenses/newPredefense">Добавить предзащиту</a></li>
                <li><a href="/defenses">Защиты</a></li>
                <li><a href="/defenses/newDefense">Добавить защиту</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/registration"> Регистрация</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>  Войти</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-8 text-left">
            <form action="/predefenses/newPredefense/submit" method="post">
                <h1>Новый протокол предзащиты</h1>

                <h5>Вид защиты</h5>
                <input type="text" name="type" class="form-control"><br>

                <h5>ID дела</h5>
                <input list="performs" name="performId" class="form-control"><br>
                <datalist id="performs">
                    <div th:each="perform : ${performs}">
                        <option>
                            <p th:text="${perform.id}"/>
                        </option>
                    </div>
                </datalist>

                <h5>Дата предзащиты</h5>
                <input type="date" name="date" class="form-control">

                <h5>Оценка</h5>
                <input type="text" name="mark" class="form-control"><br>

                <h5>Ученая степень, ученое звание, ФИО председателя ГЭК</h5>
                <input list="commissionMembersForChairman" name="chairmanFio" class="form-control"><br>
                <datalist id="commissionMembersForChairman">
                    <div th:each="commissionMember : ${commissionMembers}">
                        <option>
                            <p th:text="${commissionMember.degree} + ', ' + ${commissionMember.rank} + ', ' + ${commissionMember.fio}"/>
                        </option>
                    </div>
                </datalist>

                <button type="submit" name="createButton" class="btn btn-success">Сохранить</button>
            </form>
            <hr/>
        </div>
    </div>
</div>

</body>
</html>