<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <style>
        p {
        font-size: 20px;
    }
    </style>

    <title>Создание нового протокола предзащиты</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Главная</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPerform" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="true">Сведения о защите</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/performs">Список существующих</a>
                    <a class="dropdown-item" href="/performs/newPerform">Добавить данные о новом студенте</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPredefense" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="true">Предзащиты</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/predefenses">Список предзащит</a>
                    <a class="dropdown-item" href="/predefenses/newPredefense">Добавить новый протокол</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDefense" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="true">Защиты</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/defenses">Список защит</a>
                    <a class="dropdown-item" href="/defenses/newDefense">Добавить новый протокол</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/print-forms">Загрузить печатные формы</a>
            </li>
        </ul>

        <div class="navbar-collapse collapse w-50 rder-3 dual-collapse2">
            <ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">
                <li class="nav-link"><a class="nav-link" href="/profile">Профиль</a></li>
            </ul>
            <ul class="navbar-nav ml-auto" sec:authorize="!isAuthenticated()">
                <li class="nav-link"><a class="nav-link" href="/registration">Регистрация</a></li>
                <li class="nav-link"><a class="nav-link" href="/login">Войти</a></li>
            </ul>
        </div>
    </div>
</nav>

</br>
<div class="container-fluid text-center">
    <div class="card text-center">
        <div class="card-header">
            Предзащита
        </div>
        <div class="card-body">
            <div class="container-xxl mt-3 mb-5">
                <form action="/predefenses/newPredefense/submit" method="post">
                    <h1>Новый протокол предзащиты</h1>

                    <h5>Тип защиты</h5>
                    <input list="types" name="type" class="form-control"><br>
                    <datalist id="types">
                        <option value="Бакалаврская">Бакалаврская</option>
                        <option value="Магистрская">Магистрская</option>
                    </datalist></br>

                    <h5>ID дела</h5>
                    <input list="performs" name="perform" class="form-control"><br>
                    <datalist id="performs">
                        <div th:each="perform : ${performs}">
                            <option>
                                <p th:text="${perform.id}"/>
                            </option>
                        </div>
                    </datalist>

                    <h5>Дата предзащиты</h5>
                    <input type="date" name="date" class="form-control"></br>

                    <h5>Оценка</h5>
                    <input list="marks" name="mark" class="form-control"><br>
                    <datalist id="marks">
                        <option value="3">Удовлетворительно (оценка "3")</option>
                        <option value="4">Хорошо (оценка "4")</option>
                        <option value="5">Отлично (оценка "5")</option>
                    </datalist></br>

                    <h5>Ученая степень, ученое звание, ФИО председателя ГЭК</h5>
                    <input list="commissionMembersForChairman" name="chairmanFio" class="form-control"><br>
                    <datalist id="commissionMembersForChairman">
                        <div th:each="commissionMember : ${commissionMembers}">
                            <option>
                                <p th:text="${commissionMember.degree} + ', ' + ${commissionMember.rank} + ', ' + ${commissionMember.fio}"/>
                            </option>
                        </div>
                    </datalist>

                    <button type="submit" name="createButton" class="btn btn-success">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>