<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Сведения о защитах</title>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/home">Главная</a></li>
                <li class="active"><a href="/performs">Сведения о защите</a></li>
                <li><a href="/performs/newPerform">Добавить сведения о защите</a></li>
                <li><a href="/predefenses">Предзащиты</a></li>
                <li><a href="/predefenses/newPredefense">Добавить предзащиту</a></li>
                <li><a href="/defenses">Защиты</a></li>
                <li><a href="/defenses/newDefense">Добавить защиту</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/registration"> Регистрация</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Войти</a></li>
            </ul>
        </div>
    </div>
</nav>
<br/>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-8 text-left">
            <div>
                <div class="well">
                    <div class="panel-body">
                        <h1>Сведения о защите</h1>
                        Здесь будет сведения о студентах, защищающих квалификационную работу.
                    </div>
                </div>
            </div>

            <div class="container-fluid text-center">

            </div>

            <div th:each="perform: ${performs}">
                <a th:href="@{/performs/{id}(id=${perform.id})}"><h3 th:text="'Номер дела: ' + ${perform.id}"/></a>
                <p th:text="'Тип документа: ' + ${perform.type}"/>
                <h4 th:text="'Студент: ' + ${perform.fullFio}"></h4>
                <p th:text="'Тема выпускной работы: ' + ${perform.topic}"/>
                <form action="/performs/delete" method="post" class="mb-3"><br>
                    <button type="submit" class="btn btn-danger" name="deleteButton" th:value="@{${perform.id}}">
                        Удалить из базы
                    </button>
                    <br>
                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>