<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!--TOASTR for messages-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <title>Загрузка печатных форм</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Главная</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPerform" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="true">Сведения о защите</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/performs">Список существующих</a>
                    <a class="dropdown-item" href="/performs/newPerform">Добавить данные о новом студенте</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPredefense" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="true">Предзащиты</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/predefenses">Список преедзащит</a>
                    <a class="dropdown-item" href="/predefenses/newPredefense">Добавить новый протокол</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDefense" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="true">Защиты</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/defenses">Список защит</a>
                    <a class="dropdown-item" href="/defenses/newDefense">Добавить новый протокол</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/print-forms">Загрузить печатные формы</a>
            </li>
        </ul>

        <div class="navbar-collapse collapse w-50 rder-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-link"><a class="nav-link" href="/profile"> Профиль</a></li>
                <li class="nav-link"><a class="nav-link" href="/registration"> Регистрация</a></li>
                <li class="nav-link"><a class="nav-link" href="/login">Войти</a></li>
            </ul>
            </ul>
        </div>
    </div>
</nav>


<br/>
<div class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Предзащиты</h1>
                    <p class="card-text">Здесь необходимо загрузить печатную форму (шаблон) для протоколов предзащит</p>
                    <form action="/print-forms" method="post" enctype="multipart/form-data">
                        <h5>Выбрать файл:</h5>
                        <input type="file" name="file">

                        <input type="hidden" name="typeId" value="1"/>

                        <button type="submit" name="uploadButton" class="btn btn-success">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Защиты</h1>
                    <p class="card-text">Здесь необходимо загрузить печатную форму (шаблон) для протоколов предзащит</p>
                    <form action="/print-forms" method="post" enctype="multipart/form-data">
                        <h5>Выбрать файл:</h5>
                        <input type="file" name="file">

                        <input type="hidden" name="typeId" value="2"/>

                        <button type="submit" name="uploadButton" class="btn btn-success">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<script th:if="${action == 'save'}">
        $(document).ready(function() {
            toastr.success('Печатная форма успешно загружена!', 'Успех');
        });
    </script>

<script th:if="${action == 'error'}">
        $(document).ready(function() {
            toastr.error('Ошибка при загрузке печатной формы.', 'Ошибка');
        });
    </script>

<script th:inline="javascript">
    toastr.options.closeButton = true;
    toastr.options.positionClass = 'toast-bottom-right';
</script>

</body>
</html>