<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Профиль</title>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/home">Главная</a></li>
                <li><a href="/feedback">Отзывы</a></li>
                <li><a href="/feedback/editor">Добавить свой отзыв</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/profile"> Профиль</a></li>
                <li><a href="/registration"> Регистрация</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>  Войти</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-4 text-left">

            <div class="row mb-3">
                <div class="col-6 col-sm-3">Логин:</div>
                <div class="col-6 col-sm-3"><p th:text="${user.username}"></p></div>

                <div class="col-6 col-sm-3">Пароль:</div>
                <div class="col-6 col-sm-3"><p th:text="${user.password}"></p></div>
            </div>

            <form th:action="@{/logout}" method="post">
                <input type="submit" class="btn btn-danger" value="Выход из аккаунта"/>
            </form>

        </div>
    </div>
</div>

</body>
</html>