<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title> Главная</title>
</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/admin/home">Главная</a></li>
                <li><a href="/admin/feedback">Отзывы</a></li>
                <li><a href="/admin/feedback/editor">Добавить свой отзыв</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/profile"> Профиль</a></li>
                <li><a href="/registration"> Регистрация</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Войти</a></li>
            </ul>
        </div>
    </div>
</nav>
<br/>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-8 text-left">

            <div>
                <div class="well">
                    <div class="panel-body">
                        <h1>Добро пожаловать!</h1>
                        <p>
                            Этот сайт был написан мной в качестве <b>дипломной работы</b> при помощи framework'а
                            Spring<br/>
                            C другими моими работами можно ознакомиться на моем <a href="https://github.com/Emiliano43">GitHub</a>.<br/>
                            Этот сайт решает системы обыкновенных дифферениальных уравнений вида:
                        <p><img src="images/system.png" alt="Система уравнений"></p>
                        Решением этой системы будут m функций. Вам будут представлены графики этих функций и таблица<br/>
                        из точек, по которым они строились.
                        У вас будет возможность сохранить массив этих точек для MATLAB и языка Python (файл .txt). Также вы сможете сохранить изображение в формате PNG.
                        </p>

                        <div class="content-wrapper">

                            <div class="content">
                                <h3>Решение систем дифференциальных уравнений</h3>
                                Начальные условия:
                                <form action="/admin/home/solve" method="get">

                                    <div>x0&#160;&#160;&#160;= <input type="text"></div>
                                    <div>y01 = <input type="text"></div>
                                    <div>y02 = <input type="text"></div>

                                    <div class="equation-header"><b> Первое уравнение системы:</b></div>
                                    <div class="equation">y' = <input type="text" maxlength="50"></div>

                                    <div class="equation-header"><b> Второе уравнение системы:</b></div>
                                    <div class="equation">z' = <input type="text" maxlength="50"></div>

                                    <div style="display: none" class="equation-header"><b> Третье уравнение системы:</b>
                                    </div>
                                    <div class="equation" style="display: none"><input type="text" maxlength="50"></div>

                                    <div style="display: none" class="equation-header"><b> Четвертое уравнение
                                        системы:</b></div>
                                    <div class="equation" style="display: none"><input type="text" maxlength="50"></div>

                                    <p align="center">
                                        <button type="submit" class="btn btn-success">Решить систему уравнений!</button>
                                    </p>
                                    </form>
                            </div>

                            <div class="reference-menu-container">
                                <div class="reference-menu">
                                    <h3>Теоретическая справка</h3>
                                    <ul>
                                        <li>
                                            <a>Что такое дифференциальное уравнение?</a>
                                        </li>
                                        <li>
                                            <a>Что такое система уравнений?</a>
                                        </li>
                                        <li><a href="/theory3">Что такое производная функции?</a></li>
                                        <li>
                                            <a>Методы решения дифференциальных уравнений</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

</body>
</html>